.ant-btn-primary {
  background-color: #3fc060 !important;
  border-color: #3fc060 !important;
  color: #fff;
}

.ant-pagination-item-active {
  border-color: #3fc060 !important;
}

li.ant-pagination-item-active a {
  color: #3fc060 !important;
}

.ant-pagination-item:hover {
  border-color: #3fc060 !important;
}

.ant-pagination-item a:hover {
  color: #3fc060 !important;
}

.ant-menu-item-selected {
  background-color: #3fc060 !important;
}

.ant-menu-item-selected span {
  color: #fff !important;
}

.ant-menu-item-active {
  color: #3fc060 !important;
}